---
interface Props {
  greeting: string;
  figure: { src: string; alt: string };
  links?: { text: string; href: string; variant?: string }[];
}

const { greeting, figure, links } = Astro.props;
---

<div class="hero bg-base-300 max-h-lg">
  <div class="hero-content flex-col lg:flex-row-reverse">
    <img
      src={figure.src}
      alt={figure.alt}
      class="w-2xs"
    />
    <div class="flex flex-col items-center lg:items-start">
      <h1 class="text-5xl font-bold">{greeting}</h1>
      <p class="py-6">
        <slot />
      </p>
      {links?.length ? (
        <div class="btn-group">
          {links.map((link) => (
            <a href={link.href} class={`btn btn-${link.variant || 'secondary'}`}>
              {link.text}
            </a>
          ))}
        </div>
      ) : null}
    </div>
  </div>
</div>