---
import { Image } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';
import BaseLayout from '../layouts/BaseLayout.astro';
import FormattedDate from '../components/FormattedDate.astro';


type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, heroImage, tags = [] } = Astro.props;
---

<BaseLayout
    title={title}
    description={description}
>
	<article>
		<div class="hero-image mt-4">
			{heroImage && <Image width={1020} height={510} src={heroImage} alt="" />}
		</div>
		<div class="prose">
			<div class="title">
				<div class="date">
					<FormattedDate date={pubDate} />
					{
						updatedDate && (updatedDate.getDate() > pubDate.getDate()) && (
							<div class="last-updated-on">
								Last updated on <FormattedDate date={updatedDate} />
							</div>
						)
					}
				</div>
				<h1>{title}</h1>
				{tags.length > 0 && (
					<div class="flex flex-row justify-center gap-2 mb-7">
						{tags.map((tag: string) => (
							<a href={`/blog/tags/${tag}/`} class="badge badge-soft badge-accent">{tag}</a>
						))}
					</div>
				)}
				<hr />
			</div>
			<main>
				<slot />
			</main>
		</div>
	</article>
</BaseLayout>
